# Игнорируем виртуальные окружения в любых папках лабораторных
**/.venv/
**/venv/

# Игнорируем кэш Python и Jupyter во всем проекте
**/__pycache__/
**/.ipynb_checkpoints/
**/.cache/

# Игнорируем папки с тяжелыми данными и таблицами во всех лабах
**/data/
**/*.csv
**/*.json
